// vim: ft=dts ts=4 sts=4 sw=4 et

/ {
    behaviors {
        td_DOT_COMMA: tap_dance_dot_comma {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_DOT_COMMA";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COMMA>;
        };

        td_Y_P: tap_dance_y_p {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_Y_P";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp P>;
        };

        td_F_I: tap_dance_f_i {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_F_I";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp I>;
        };

        td_G_D: tap_dance_g_d {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_G_D";
            #binding-cells = <0>;
            bindings = <&kp G>, <&kp D>;
        };

        td_L_C: tap_dance_l_c {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_L_C";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp C>;
        };

        td_V_R: tap_dance_v_r {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_V_R";
            #binding-cells = <0>;
            bindings = <&kp V>, <&kp R>;
        };

        td_Q_A: tap_dance_q_a {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_Q_A";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp A>;
        };

        td_X_O: tap_dance_x_o {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_X_O";
            #binding-cells = <0>;
            bindings = <&kp X>, <&kp O>;
        };

        td_J_E: tap_dance_j_e {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_J_E";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp E>;
        };

        td_K_U: tap_dance_k_u {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_K_U";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp U>;
        };

        td_B_H: tap_dance_b_h {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_B_H";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp H>;
        };

        td_M_T: tap_dance_m_t {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_M_T";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp T>;
        };

        td_W_N: tap_dance_w_n {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_W_N";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp N>;
        };

        td_RET_S: tap_dance_ret_s {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_RET_S";
            #binding-cells = <0>;
            bindings = <&kp RET>, <&kp S>;
        };

        td_PLUS_DOT: tap_dance_plus_dot {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_PLUS_DOT";
            #binding-cells = <0>;
            bindings = <&kp PLUS>, <&kp DOT>;
        };

        td_MINUS_UNDER: tap_dance_minus_under {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MINUS_UNDER";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDER>;
        };
    };
};
