# vim: ft=kconfig ts=4 sts=4 sw=4 noet

config ZMK_KSCAN_DEBOUNCE_RELEASE_MS
	default 10

if SHIELD_PIANO_RIGHT

config ZMK_KEYBOARD_NAME
	default "The Piano 2"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # SHIELD_PIANO_RIGHT

if SHIELD_PIANO_LEFT || SHIELD_PIANO_RIGHT

config ZMK_SPLIT
	default y

endif # SHIELD_PIANO_LEFT || SHIELD_PIANO_RIGHT
