# vim: ft=kconfig ts=4 sts=4 sw=4 noet

if SHIELD_PIANO_LEFT

config ZMK_KEYBOARD_NAME
	default "The Piano 2"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # SHIELD_PIANO_LEFT

if SHIELD_PIANO_LEFT || SHIELD_PIANO_RIGHT

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # SHIELD_PIANO_LEFT || SHIELD_PIANO_RIGHT
