// vim: ft=dts ts=4 sts=4 sw=4 et
#include <dt-bindings/zmk/mouse.h>

&mmv {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <1000>;
    delay-ms = <0>;
};

#define MOUSE_MOVE_SPEED 1500
#define MOUSE_SCROLL_SPEED 15

#define MOUSE_U MOVE_VERT(-MOUSE_MOVE_SPEED)
#define MOUSE_D MOVE_VERT(MOUSE_MOVE_SPEED)
#define MOUSE_L MOVE_HOR(-MOUSE_MOVE_SPEED)
#define MOUSE_R MOVE_HOR(MOUSE_MOVE_SPEED)

#define SCROLL_U SCROLL_VERT(MOUSE_SCROLL_SPEED)
#define SCROLL_D SCROLL_VERT(-MOUSE_SCROLL_SPEED)
#define SCROLL_L SCROLL_HOR(-MOUSE_SCROLL_SPEED)
#define SCROLL_R SCROLL_HOR(MOUSE_SCROLL_SPEED)
